<div id="page-wrapper">
    <div class="row align-middle" style="padding-top:50px;">
        <div class="col-lg-5">
            <span  class="text-blue"style="font-family: 'Fredericka the Great'; font-size: 30px;margin-top:50px; " >EXCHANGE STATISTICS</span>
        </div>
        <div class="col-lg-7" style="margin-bottom: 20px;" >
            <span  style="font-family: Arvo; margin-top:50px; border-bottom: none;">
                <strong>Data are updated once in 30 Minutes    </strong>                                   
            </span>
            <br/>
            <span  style="font-family: Arvo; margin-top:50px; border-bottom: none;">
                <strong>Data are fetched from coinmarketcap.com </strong>
            </span>
            <br/>
            
        </div>
        <!-- /.col-lg-12 -->
    </div>  


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-money fa-fw"></i> EXCHANGE DATA                    
                </div>
                <div class="panel-body">
                    {{#if model.exchangedata}}
                   
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr >
                                    <th class="text-center">LEGEND</th>
                                    <th class="text-center">DATA</th>   
                                </tr>
                                
                            </thead>
                            <tbody>                              
                                <tr class="">                         
                                    <td>COIN NAME</td>
                                    <td>{{model.exchangedata.id}}</td>                                    
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>COIN RANK</td>
                                    <td>{{model.exchangedata.rank}}</td>                                    
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>COIN SYMBOL</td>
                                    <td>{{model.exchangedata.symbol}}</td>                                    
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>PRICE IN USD</td>
                                    <td>{{format-number   model.exchangedata.price_usd style='currency' currency='USD'}}</td>                                    
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>PRICE IN INR</td>
                                    <td>{{format-number   model.exchangedata.price_inr style='currency' currency='INR'}}</td>                                    
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>PRICE IN BTC</td>
                                    <td>{{format-number   model.exchangedata.price_btc style='currency' currency='BTC'}}</td>                                    
                                </tr>
                                
                                <tr class="">                         
                                    <td>TOTAL SUPPLY</td>
                                    <td>{{model.exchangedata.total_supply}} ETH</td>                                    
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>MARKET CAPITAL IN INR</td>
                                    <td>{{format-number   model.exchangedata.market_cap_inr style='currency' currency='INR'}}</td>                             
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>CHANGE IN 1 HOUR</td>
                                    <td>{{ model.exchangedata.percent_change_1h }} %</td>                                    
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>CHANGE IN 24 HOURS</td>
                                    <td>{{ model.exchangedata.percent_change_24h}} %</td>                                    
                                </tr>
                                
                                  <tr class="">                         
                                    <td>CHANGE IN 7 DAYS</td>
                                    <td>{{ model.exchangedata.percent_change_7d }} %</td>                                    
                                </tr>
                                
                                
                                <tr class="">                         
                                    <td>COIN NAME</td>
                                    <td>{{model.exchangedata.id}}</td>                                    
                                </tr>
                                                              
                                <tr class="">                         
                                    <td>UPDATED ON</td>
                                    <td>{{format-date-locale model.exchangedata.last_updated }}</td>                                    
                                </tr>
                              
                                
                               
                            </tbody>
                        </table>
                    </div>
                    {{else}}
                    <h3>No Data</h3>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>